body {
  background: url(/img/cream_dust.png) repeat 0 0;
}

.spaceT10 {
  margin-top: 10px;
}

.spaceB10 {
  margin-bottom: 10px;
}

h1 {
  margin-bottom: 20px;
}

h3 {
  font-weight: 300;
}

#map {
  height: 640px;
}

#map img {
  max-width: none;
}

.thumbnail {
  color: #7D838B;
  background-color: #FFFFFF;
  padding:10px;
}  

.thumbnail h3 {
  margin: 0;
}

.details{
  clear:both;
}

#startups .icon-map-marker {
  color: #F23F3F;
}

#investors .icon-map-marker {
  color: #4EA83E;
}

#incubators .icon-map-marker {
  color: #DBD400;
}

#coworking-spaces .icon-map-marker {
  color: #378BDE;
}

#epn .icon-map-marker {
  color: #376BDE;
}

#other-organizations .icon-map-marker {
  color: #DB8000;
}

#footer {
  text-align: center;
}

@media (min-width: 1200px) {
  .thumbnail .span2 {
    width: 145px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .thumbnail .span2 {
    width: 80px;
  }
}