body {
  background: url(/img/cream_dust.png) repeat 0 0;
}

.spaceT10 {
  margin-top: 10px;
}

.spaceB10 {
  margin-bottom: 10px;
}

h1 {
  margin-bottom: 20px;
}

h3 {
  font-weight: 300;
}

#map {
  height: 450px;
}

#map img {
  max-width: none;
}

.thumbnail {
  color: #7D838B;
  background-color: #FFFFFF;
  padding:10px;
}  